<!DOCTYPE html>
<html>
  <head>
    <title>QuipperTest</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': false %>

    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
      <link rel="stylesheet" type="text/css" href="/assets/login/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/assets/login/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="/assets/login/animate.css">
      <link rel="stylesheet" type="text/css" href="/assets/login/hamburgers.min.css">
      <link rel="stylesheet" type="text/css" href="/assets/login/select2.min.css">
      <link rel="stylesheet" type="text/css" href="/assets/login/util.css">
      <link rel="stylesheet" type="text/css" href="/assets/login/main.css">
  </head>

  <body>

    <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <%= yield %>
      </div>
    </div>
  </div>


  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': false %>
  <script src="/assets/login/jquery-3.2.1.min.js"></script>
  <script src="/assets/login/popper.js"></script>
  <script src="/assets/login/bootstrap.min.js"></script>
  <script src="/assets/login/select2.min.js"></script>
  <script src="/assets/login/tilt.jquery.min.js"></script>
  <script >
    $('.js-tilt').tilt({
      scale: 1.1
    })
  </script>
<!--===============================================================================================-->
  <script src="/assets/login/main.js"></script>
</html>
